<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AbarrotesCanatlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PVLaJoya.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
		<!--<add name="PVLaJoya" connectionString="Server=ITALAMANTES;Database=PapeleriaTere;Uid=sa;Pwd=Comun123*;pooling=false" />-->
		<add name="PVLaJoya" connectionString="Server=LOCALHOST\SQLEXPRESS;Database=PuntoVenta;Uid=admin;Pwd=Agapite8963//*;pooling=false" />
		<!--<add name="conCenor" connectionString="Server=abarrotes.database.windows.net;Database=abarrotes;Uid=abarrotes;Pwd=Setorraba2547//;pooling=false" />-->
		<add name="conCenor" connectionString="Server=piny.database.windows.net,1433;Database=Piny;Uid=piny;Pwd=LaPape3654**//;pooling=false" />
        <add name="PVLaJoya.Properties.Settings.PuntoVentaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BD\PuntoVenta.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PVLaJoya.Properties.Settings.ConnLaJoya" connectionString="Data Source=localhost\sqlexpress;Persist Security Info=True;User ID=sa;Password=LaJoya123"
            providerName="System.Data.SqlClient" />
        <add name="AbarrotesCanatlan.Properties.Settings.PuntoVentaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BD\PuntoVenta.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AbarrotesCanatlan.Properties.Settings.ConnLaJoya"
            connectionString="Data Source=localhost\sqlexpress;Persist Security Info=True;User ID=sa;Password=LaJoya123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AbarrotesCanatlan.Properties.Settings>
      <setting name="PVLaJoya_ProntiPagos_ProntipagosTopUpServiceEndPoint"
        serializeAs="String">
        <value>http://devprontipagos.domainscm.com:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint</value>
      </setting>
      <setting name="PVLaJoya_mx_prontipagos_ws_ProntipagosTopUpServiceEndPoint"
        serializeAs="String">
        <value>http://ws.prontipagos.mx:80/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint</value>
      </setting>
    </AbarrotesCanatlan.Properties.Settings>
    <PVLaJoya.Properties.Settings>
      <setting name="PVLaJoya_ProntiPagos_ProntipagosTopUpServiceEndPoint"
        serializeAs="String">
        <value>http://devprontipagos.domainscm.com:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint</value>
      </setting>
      <setting name="PVLaJoya_mx_prontipagos_ws_ProntipagosTopUpServiceEndPoint"
        serializeAs="String">
        <value>http://ws.prontipagos.mx:80/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint</value>
      </setting>
    </PVLaJoya.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="ProntipagosTopUpServiceEndPointPortBinding">
          <security mode="Transport">
          </security>
        </binding>
        <binding name="ProntipagosTopUpServiceEndPointPortBinding1">
          <security mode="Transport">
          </security>
        </binding>
        
      </basicHttpsBinding>
    </bindings>
    <client>

      <endpoint address="http://devprontipagos.domainscm.com:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint" binding="basicHttpBinding" bindingConfiguration="ProntipagosTopUpServiceEndPointPortBinding" contract="ProntiPagosWS.ProntipagosTopUpServiceEndPoint" name="ProntipagosTopUpServiceEndPointPort" />
      <endpoint address="https://ws.prontipagos.mx/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint" binding="basicHttpBinding" bindingConfiguration="ProntipagosTopUpServiceEndPointPortBinding1" contract="ProntiPagosWSProduccion.ProntipagosTopUpServiceEndPoint" name="ProntipagosTopUpServiceEndPointPort1" />
      
      
      
    </client>
   
  </system.serviceModel>
</configuration>